* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f2f5;
    padding: 50px 20px;
    line-height: 1.6;
}

.section {
    background: white;
    border-radius: 12px;
    max-width: 900px;
    margin: 0 auto 40px auto;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
   color: #00468b;
   margin-bottom: 20px;
   border-left: 5px solid #ffcc00;
   padding-left: 15px;
}

code {
    background: #eee;
    padding: 2px 5px;
    color: fuchsia;
}

.box {
    width: 100px;
    height: 50px;
    background-color: #00468b;
    color: white;
    margin: 5px;
    text-align: center;
    line-height: 50px;

}

.sticky-note {
    position: sticky;
    top: 70px;
    background: #f0f2f5;
    padding: 10px;
    border: 1px solid #ffeeba;
    z-index: 100;
}

.parent-post {
    height: 200px;
    background-color: #f0f2f5;
    border: 2px dashed #ccc;
    position: relative;
    margin-top: 20px;
}

.abs-box {
    position: absolute;
     bottom : 10px;
     right: 10px;
     background-color: #ff4757;
     color: white;
     padding: 10px;
     border-radius: 5px;
}

.d-box {
    display: block; width: 100%;

}
 
.d-inline-block {
    display: inline-block;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    background: #e9ecef;
    padding: 10px;
    border-radius: 8px;
}
